{% extends 'myshop/layout.html' %}
{% load static %}

{% block title %}
    <title>{{ caption }} - Администратор</title>
{% endblock %}

{% block content %}

    <br>

   <div class="container">
        <h3 class="my-4 text-center">Управление магазином {{ caption }}</h3>
        <div class="mb-3">
            <a href="{% url 'goods' %}" class="btn btn-primary">Товары</a>
            <a href="{% url 'courier' %}" class="btn btn-primary">Курьеры</a>
            <a href="{% url 'orders' %}" class="btn btn-primary">Заказы</a>
            <a href="{% url 'delivery' %}" class="btn btn-primary">Доставка</a>
        </div>

   </div>



{% endblock %}